.vs/
obj/
Groepsproject_Blokken/bin/Debug/Groepsproject_Blokken.exe
Groepsproject_Blokken/bin/Debug/Groepsproject_Blokken.pdb
Groepsproject_Blokken/ExcelWordStatic.cs
Groepsproject_Blokken/PrimeWords/List1.txt
Groepsproject_Blokken/PrimeWords/List2.txt